html,
body,
#root {
  display: flex;
  min-height: 100%;
  height: 100%;
  flex: 1;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.viewer-container {
  flex: 1;
  position: relative;
  background-color: #333;
}
